* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 110px;
    height: 60px;
}

.nav-link:hover {
    color: black;
    background-color: #F7F7F7;
    border-radius: 20px;
    /* transition: all 0.3s ease-in-out; */
}



.carousel p{
    
    font-size: small;
    margin-top: 0.4rem;
    
}

.carousel img{
 width: 20px;
 height: auto;
 opacity: 0.5;
 
}

@media screen and (max-width:576px) {
    .carousel-inner {
        margin-left: 10%;
    }
}



